# Copyright (C) 2012 Sony Mobile Communications AB.
 
on early-init

    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /persist
    
    mount /tmp /tmp tmpfs

on fs
    mount_all fstab.qcom
    
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    //class_start default
    class_start core
    class_start main
    class_start late_start    

service ueventd /sbin/ueventd
    class core
    critical

service console /system/bin/sh
    class core
    console
    user shell
    group log

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class main
    oneshot    

service chgonly /system/bin/chgonly
    class late_start
    oneshot

service adbd /sbin/adbd
    class core
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9025
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports tty,tty
    write /sys/class/android_usb/android0/functions diag,adb,serial,mass_storage
    write /sys/class/android_usb/android0/enable 1
    start adbd
    
on property:ro.debuggable=0
    write /sys/class/android_usb/android0/enable 0
    #write /sys/class/android_usb/android0/idVendor 05C6
    #write /sys/class/android_usb/android0/idProduct F000
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct E192
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    
#    start port-bridge
#    setprop sys.usb.state diag,serial_tty,serial_tty,mass_storage,adb
#    start qcom-post-boot

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1


    
