on early-init
    start ueventd

on init
#/* [SA77] S Bruce_Chen Bug#291 recovery mode shall be mount system (except FOTA) */
    export PATH /sbin:/system/bin
#/* [SA77] E Bruce_Chen Bug#291 recovery mode shall be mount system (except FOTA) */
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /tmp
    mount /tmp /tmp tmpfs

    chown root shell /tmp
    chmod 0775 /tmp

    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1 wait

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9025
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/enable 1
    start adbd

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /system/bin/sa77_recovery

service adbd /sbin/adbd
    disabled


# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
